header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

header h1{
    font-size: 60px;
    transition: opacity 1s;
}

header h1:hover{
    opacity: 0.6;
}

.btn-header-nav{
    width: 90px;
    height: 90px;
    transition: opacity 1s;
}

.btn-header-nav:hover{
    opacity: 0.6;
}

.header-plus{
    width: 30%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: -500px;
    transition: left 0.5s;
    border-right: 2px solid black;
    z-index: 5;
}

.theme-div{
    border-bottom: 1px solid black;
}

.theme-change{
    width: 75px;
    height: 75px;
    transition: background 1s;
}

.header-a{
    padding: 20px 0;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-a a{
    font-size: 22px;
}

.header-a a:hover::before{
    content: '> ';
    position: relative;
}

@media (max-width: 500px){
    .header-plus{
        width: 50%;
    }
}